

*{
    box-sizing: border-box;
    margin:0px;

    padding:0px;
}

    .header{
        max-width: 10ovw;
        background-color: rgba(185, 48, 48, 0.367);
    }


    .outercontainer{
        width: 100%;
        /* width: auto 100%; */
        min-height: 4rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
          /* margin: 0rem 2rem; */
        
        
    }

    .innercontainer{
        /* width: 82rem; */
        width:85vw;
        height: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.75rem;
        background-color: rgb(255, 255, 255);
         border-radius: 8px;
      
    }

    .logo{
        width: 19.47rem;
        
        font-family: inter;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        display: flex;        
        justify-content: flex-start;
        align-self:center;
        
    }
    
    .logo a {
            font-size: 1.25rem;
            font-weight: 750;
            color: #1f2937;
          }
    .logo a:hover {
            color: #848a92ce;
            cursor: pointer;
          }

    .ul{
        width: auto ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* gap: 1rem; */
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        
         
    }
  

    .item{
        font-size: 14px;
        font-family: inter;
        font-weight: 510;
        line-height:2rem;
        /* height: 3rem; */
        background-color: rgb(255, 255, 255);
        /* padding: 11px 11px; */
        padding: 0rem 0.72rem;
        width: auto 100%;
        display: flex;
        white-space: nowrap;
        
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
    
    }
      .item:hover{
        background-color: rgba(237, 240, 245, 0.851);
        border-radius: 8px;
        cursor: pointer;
        

    }

    .item svg {
        transition: transform 0.25s ease-in-out;
    }

    .item:hover svg {
        transform: rotate(180deg);
    }

    .logincard{
        width: 19.47rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* gap: 15px; */
        background-color: rgba(255, 255, 255, 0.452);
        height: 28px;
    }

    .card{
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 10px;
         /* padding: 20px 20px; */
    }

    .item2{
        width: auto 100%;
         font-size: 14px;
        font-family: inter;
        font-weight: 560;
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #signup{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border-radius: 99999px;
        height: 28px;
        min-width: 3.5rem;
        cursor: pointer;
        white-space: nowrap;
    }

    #signup:hover{
        background-color: rgba(52, 51, 54, 0.797);
        border-radius: 15px;
        cursor: pointer;
        height: 28px;
    }
    #login{
        cursor: pointer;
        width: auto;
    }

    #login:hover{
        background-color: rgba(237, 240, 245, 0.805);
        border-radius: 15px;
        cursor: pointer;
        height: 28px;
    }